body {
  background-color: #9a9a9a;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  margin: auto;
  background-color: grey;
}
.early-life-box {
  background-color: #f5f5dc;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

.honours-box {
  background-color: #f5f5dc;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}
.sporting-box {
  background-color: #f5f5dc;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}
.manchester-united-box {
  background-color: #f5f5dc;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}
.real-madrid-box {
  background-color: #f5f5dc;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

.juventus-box {
  background-color: #f5f5dc;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

img {
  display: block;
  margin: auto;
}

header {
  text-align: center;
}
nav ul {
  display: flex;
  list-style: none;
}
nav {
  background-color: #f4f4f4;
}
