html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  margin: auto;
  background-color: white;
  font-family: copperplate;
  font-size: 100px;
}
.early-life-box {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

.honours-box {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

.careers-box {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}
.portrait-box {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}
.contact-box {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
  margin: auto;
}
img {
  display: block;
  margin: auto;
}
.source-box {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}
header {
  text-align: center;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
nav ul li a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #191919;
}
nav ul li a:hover {
  border-bottom: 1px solid black;
}
.image-size {
  width: 150px;
  display: flex;
  align-items: center;
}
